<web-app>
  
  <welcome-file-list>
		<welcome-file>sis.html</welcome-file>
  </welcome-file-list>
   
	<servlet>
		 <servlet-name>s1</servlet-name>
		 <servlet-class>CalculatorController</servlet-class>
     </servlet>
	<servlet-mapping>
		 <servlet-name>s1</servlet-name>
		 <url-pattern>/calc</url-pattern>
	</servlet-mapping>
	
	 	<servlet>
		 <servlet-name>v</servlet-name>
		 <servlet-class>CalculatorViewServlet</servlet-class>
     </servlet>
	<servlet-mapping>
		 <servlet-name>v</servlet-name>
		 <url-pattern>/calcViewHelper</url-pattern>
	</servlet-mapping>
	 
	
	 	<servlet>
		 <servlet-name>dc1</servlet-name>
		 <servlet-class>DepartmentShowController</servlet-class>
     </servlet>
	<servlet-mapping>
		 <servlet-name>dc1</servlet-name>
		 <url-pattern>/deptshow</url-pattern>
	</servlet-mapping>
	
	<servlet>
		 <servlet-name>dc2</servlet-name>
		 <servlet-class>DeptViewServlet</servlet-class>
     </servlet>
	<servlet-mapping>
		 <servlet-name>dc2</servlet-name>
		 <url-pattern>/deptView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		 <servlet-name>dc3</servlet-name>
		 <servlet-class>DeptViewExcelServlet</servlet-class>
     </servlet>
	<servlet-mapping>
		 <servlet-name>dc3</servlet-name>
		 <url-pattern>/deptExcelView</url-pattern>
	</servlet-mapping>
	
	
</web-app>